@model TriCodeTest.Models.CustomerMenuViewModels.CartOrderMenuItem
@using Newtonsoft.Json

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<style>
    /*#description span {
        font: bold 18px Cursive;
    }
    #header-item-name {

    }*/
    #header-image h2 {
        position: absolute;
        top: 380px;
        left: 25px;
        color: white;
    }

    .ui-li-static.ui-collapsible > .ui-collapsible-heading {
        margin: 0;
    }

    .ui-li-static.ui-collapsible {
        padding: 0;
    }

        .ui-li-static.ui-collapsible > .ui-collapsible-heading > .ui-btn {
            border-top-width: 0;
        }

        .ui-li-static.ui-collapsible > .ui-collapsible-heading.ui-collapsible-heading-collapsed > .ui-btn,
        .ui-li-static.ui-collapsible > .ui-collapsible-content {
            border-bottom-width: 0;
        }
</style>

@* Edit Item Page *@

<div data-role="page" id="edit-item-page">
    @* Header *@
    <div data-role="header">
        <a href="" data-role="button" onclick="goBack()">Cancel</a>
        <h3>
            <a href="#" style="color:inherit;text-decoration:none">Food Order</a>
        </h3>
        <a href="#" onclick="postItem()">Save</a>
    </div>
    @* Main Content *@
    <div role="main" class="ui-content">
        <div id="details-header-row">
            <div id="header-image">
                <img src="~/images/food-banner.jpeg" id="menuitemImg" />
                <h2>@Model.MenuItem.Name</h2>
            </div>
        </div>
        <ul data-role="listview">
            <li><h4>@Model.MenuItem.Description</h4></li>
            <li data-role="collapsible" data-collapsed-icon="carat-d" data-expanded-icon="carat-u">
                <h2>Size</h2>
                <form id="size-choice">
                    <fieldset data-role="controlgroup" data-type="horizontal">
                        <input type="radio" name="size" id="size-choice-null" value=null checked="checked" />
                        <label for="size-choice-null">No Size</label>
                        <input type="radio" name="size" id="size-choice-small" value=@Size.Small />
                        <label for="size-choice-small">@Size.Small</label>
                        <input type="radio" name="size" id="size-choice-medium" value=@Size.Medium />
                        <label for="size-choice-medium">@Size.Medium</label>
                        <input type="radio" name="size" id="size-choice-large" value=@Size.Large />
                        <label for="size-choice-large">@Size.Large</label>
                    </fieldset>
                </form>
            </li>
            <li><a href="#" onclick="loadAddonsPage()"><h2>Add-ons</h2></a></li>
            <li><a href="#" onclick="loadIngredientsPage(@JsonConvert.SerializeObject(Model.MenuItem.MenuItemIngredients))"><h2>Ingredients</h2></a></li>
        </ul>
    </div>
</div>

@* Edit Ingredients Page *@

<div data-role="page" id="edit-ingredient-page">
    @* Header *@
    <div data-role="header">
        <a href="#" onclick="dontSaveItemChanges()">Cancel</a>
        <h3>
            <a href="#" style="color:inherit;text-decoration:none">Food Order</a>
        </h3>
        <a href="#" data-rel="back" data-role="button">Save</a>
    </div>
    @* Main Content *@
    <div role="main" class="ui-content">
        <ul data-role="listview">
            @foreach (var ing in Model.MenuItem.MenuItemIngredients)
            {
                <li data-role="collapsible" data-collapsed-icon="carat-d" data-expanded-icon="carat-u">
                    <h2>@ing.Ingredient.Name</h2>
                    <form id="form-ingredient-@ing.Ingredient.Id-choice">
                        <fieldset data-role="controlgroup" data-type="horizontal">
                            <input type="radio" name="ingredient-id-@ing.Ingredient.Id" id="ingredient-choice-normal-@ing.IngredientId" value="@Option.Normal" />
                            <label for="ingredient-choice-normal-@ing.IngredientId">@Option.Normal</label>
                            <input type="radio" name="ingredient-id-@ing.Ingredient.Id" id="ingredient-choice-low-@ing.IngredientId" value="@Option.Low" />
                            <label for="ingredient-choice-low-@ing.IngredientId">@Option.Low</label>
                            <input type="radio" name="ingredient-id-@ing.Ingredient.Id" id="ingredient-choice-none-@ing.IngredientId" value="@Option.None" />
                            <label for="ingredient-choice-none-@ing.IngredientId">@Option.None</label>
                        </fieldset>
                    </form>
                </li>
            }
        </ul>
    </div>
</div>

@* Edit Addons Page *@

<div data-role="page" id="edit-addons-page">
    @* Header *@
    <div data-role="header">
        <a href="#" onclick="dontSaveItemChanges()">Cancel</a>
        <h3>
            <a href="#" style="color:inherit;text-decoration:none">Food Order</a>
        </h3>
        <a href="#" data-rel="back" data-role="button">Save</a>
    </div>
    @* Main Content *@
    <div role="main" class="ui-content">
        <ul data-role="listview">
            @foreach (var addon in Model.ChoiceOfAddons)
            {
                @*<li data-role="collapsible" data-collapsed-icon="carat-d" data-expanded-icon="carat-u">
                    <h2>@addon.Name</h2>
                    <form id="@addon.Id-choice">
                        <fieldset data-role="controlgroup" data-type="horizontal">
                            <input type="radio" name="addon-id-@addon.Id" id="ingredient-choice-normal-@addon.Id" value="@Option.Normal" checked="checked" />
                            <label for="ingredient-choice-normal-@addon.Id">@Option.Normal</label>
                            <input type="radio" name="addon-id-@addon.Id" id="ingredient-choice-low-@addon.Id" value="@Option.Low" />
                            <label for="ingredient-choice-low-@addon.Id">@Option.Low</label>
                            <input type="radio" name="addon-id-@addon.Id" id="ingredient-choice-none-@addon.Id" value="@Option.None" />
                            <label for="ingredient-choice-none-@addon.Id">@Option.None</label>
                        </fieldset>
                    </form>
                </li>*@
                <li>@*<h2>@addon.Name</h2><p>@addon.Description</p>*@
                    <div class="ui-grid-a">
                        <div class="ui-block-a">
                            <h2>@addon.Name</h2><p>Price: @String.Format("{0:c}", addon.Price)</p>
                        </div>
                        <div class="ui-block-b">
                            <div class="ui-block-b-contents" style="float:right">
                                <form id="form-addon-@addon.Id-choice">
                                        <input type="checkbox" data-role="flipswitch" name="addon-id-@addon.Id" id="addon-choice-@addon.Id"
                                               data-on-text="Yes" data-off-text="No">
                                </form>
                            </div>
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>

@*<div data-role="collapsible" data-inset="false" data-collapsed-icon="carat-d" data-expanded-icon="carat-u">
        <h2>Size</h2>
        <form id="size-choice">
            <fieldset data-role="controlgroup" data-type="horizontal">
                <input type="radio" name="size" id="size-choice-null" value="null" checked="checked" />
                <label for="size-choice-null">No Size</label>
                <input type="radio" name="size" id="size-choice-small" value="@Size.Small" />
                <label for="size-choice-small">@Size.Small</label>
                <input type="radio" name="size" id="size-choice-medium" value="@Size.Medium" />
                <label for="size-choice-medium">@Size.Medium</label>
                <input type="radio" name="size" id="size-choice-large" value="@Size.Large" />
                <label for="size-choice-large">@Size.Large</label>
            </fieldset>
        </form>
    </div>*@
@*<a href="#"><h2>Test</h2></a>
    <div data-role="collapsible">
        <h3>Ingredients</h3>
        <p>I'm the collapsible content for section 3</p>
    </div>*@
@*<ul id="categoryList" data-role="listview">
        <li><p>@Model.MenuItem.Description</p></li>
        @if (Model.MenuItem.Size != null)
        {
            <li><h2>Size</h2></li>
        }
        <li data-role="collapsible" data-iconpos="right" data-inset="false">
            <h2>Add-ons</h2>
            <ul data-role="listview" data-theme="b">
                <li>Test</li>
                <li>Test</li>
                <li>Test</li>
            </ul>
        </li>
        <li><a href="#"><h2>Ingredients</h2></a></li>
    </ul>*@

<div>
    <a asp-action="Index">Back to Cart</a>
</div>


@section Scripts {
    <script>
        var MODEL = @Html.Raw(JsonConvert.SerializeObject(Model));
        var ItemObject;

        // Navigate back to cart
        function goBack(){
            window.location = '@Url.Action("Cart", "CustomerMenu")';
        }

        function dontSaveItemChanges(){
            window.location = '@Url.Action("EditItem", "CustomerMenu", new { id = Model.MenuItem.Id })';
        }

        function postItem(){
            ItemObject = {
                MenuItem : MODEL.MenuItem,
                AddOns : MODEL.AddOns
            };
            $.ajax({
                url: '@Url.Action("EditItem", "CustomerMenu")',
                method: 'POST',
                data: ItemObject,
                success: function(result){
                    console.log(result);
                    if (result){
                        window.location = '@Url.Action("Cart", "CustomerMenu")';
                    } else {
                        location.reload();
                    }
                }
            });
        }

        // Create size radio button listener to set new size to javascript object of view model
        $("#size-choice").bind("change", function(event, ui){
            switch ($("input[name=size]:checked").val()){
                case "null":
                    MODEL.MenuItem.Size = null;
                    break;
                case "Small":
                    MODEL.MenuItem.Size = 0;
                    break;
                case "Medium":
                    MODEL.MenuItem.Size = 1;
                    break;
                case "Large":
                    MODEL.MenuItem.Size = 2;
                    break;
            }
            console.log(MODEL.MenuItem.Size);
        })

        // Load page to edit ingredients
        function loadIngredientsPage(ingredientsList){
            console.log(ingredientsList);
            $(":mobile-pagecontainer").pagecontainer("change", "#edit-ingredient-page", {
                transition: 'slide'
            });
        }
        // Before showing page select the chosen ingredient options on the radio buttons
        $(document).on("pageshow", "#edit-ingredient-page", function() {
            //$("#ingredient-choice-normal-8").prop("checked", true).checkboxradio("refresh");
            $.each(MODEL.MenuItem.MenuItemIngredients, function(index, ingredient) {
                var ingredientNormalChoice = $("#ingredient-choice-normal-" + ingredient.Ingredient.Id);
                var ingredientLowChoice = $("#ingredient-choice-low-" + ingredient.Ingredient.Id);
                var ingredientNoneChoice = $("#ingredient-choice-none-" + ingredient.Ingredient.Id);
                console.log(ingredient.Ingredient.Option);
                switch(ingredient.Ingredient.Option){
                    case 0:
                        ingredientNormalChoice.prop("checked", true).checkboxradio("refresh");
                        break;
                    case 1:
                        ingredientNoneChoice.prop("checked", true).checkboxradio("refresh");
                        break;
                    case 2:
                        ingredientLowChoice.prop("checked", true).checkboxradio("refresh");
                        break;
                }
            });
        });
        // Create listeners for each set of radio buttons that set the new ingredient option to javascript object of view model
        $.each(MODEL.MenuItem.MenuItemIngredients, function(index, ingredient){
            $("#form-ingredient-" + ingredient.Ingredient.Id + "-choice").bind("change", function(event, ui){
                switch ($("input[name=ingredient-id-" + ingredient.Ingredient.Id + "]:checked").val()){
                    case "Normal":
                        ingredient.Ingredient.Option = 0;
                        break;
                    case "None":
                        ingredient.Ingredient.Option = 1;
                        break;
                    case "Low":
                        ingredient.Ingredient.Option = 2;
                        break;
                }
            });
        });

        // Load page to edit addons
        function loadAddonsPage(){
            $(":mobile-pagecontainer").pagecontainer("change", "#edit-addons-page", {
                transition: 'slide'
            });
        }

        $.each(MODEL.ChoiceOfAddons, function(index, addon){
            $("#form-addon-" + addon.Id + "-choice").bind("change", function(event, ui){
                console.log($("input[name=addon-id-" + addon.Id + "]:checked").val());
                if ($("input[name=addon-id-" + addon.Id + "]:checked").val() == "on"){
                    MODEL.AddOns.push(addon);
                } else {
                    MODEL.AddOns.splice(MODEL.AddOns.indexOf(addon), 1);
                }
            });
        });
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

@* Details Page *@

@*<div data-role="page" id="details-page">
        @* Panel
        <div data-role="panel" class="myPanel" id="details-page-panel" data-position="right">
            <ul data-role="listview" id="sidebar">
                @await Html.PartialAsync("_CustomerLoginPartial")
            </ul>
        </div>
        @* Header
        <div data-role="header">
            <a href="#" data-rel="back" data-role="button">Back</a>
            <a href="#details-page-panel" data-role="button" data-icon="bars">
                Menu
            </a>
            <h3>
                <a href="#categories-page" style="color:inherit;text-decoration:none">Food Order</a>
            </h3>
        </div>
        @* Main Content (gets loaded dynamically)
        <div role="main" class="ui-content">
            <div id="details-header-row" class="ui-responsive">
                <img src="~/images/menuitem/food-banner.jpg" id="menuitemImg" style="width:100%;height:300px" />
            </div>
            <div id="description-container" class="ui-responsive">
                <h6 id="description">
                    <span id="description-text">Menu item details would go here</span>
                </h6>
            </div>
            <div class="main-details ui-responsive">
                <div class="ui-block-a" style="width:50%">
                    <div id="menuitem-labels" class="ui-bar">
                        Name
                    </div>
                </div>
                <div class="ui-block-b" style="width:50%">
                    <div id="menuitem-info" class="ui-bar">
                        Details
                    </div>
                </div>
            </div>
        </div>
    </div>*@