@model TriCodeTest.Models.CustomerMenuViewModels.LoadMenuViewModel
@using Newtonsoft.Json

@{
    ViewData["Title"] = "Customer Menu";
    Layout = "../Shared/_CustomerLayout.cshtml";
}



@*@*<div data-role="page" id="categories">
        <div data-role="panel" data-display="reveal" id="myPanel">
            <div class="ui-panel-inner">
                @await Html.PartialAsync("_CustomerLoginPartial")
                <ul data-role="listview">
                    <li>One</li>
                    <li>Two</li>
                    <li>Three</li>
                </ul>
            </div>
            <div data-role="header">
                <a href="#myPanel" data-role="button" data-rel="back" data-inline="true" data-icon="bars">
                    Menu
                </a>
            </div>
            <div data-role="main" class="ui-content">
                <ul id="menuList" data-role="listview"></ul>
            </div>
        </div>
    </div>*@

@* Page One *@

<div data-role="page" id="categories">
    <div data-role="panel" id="myPanel">
        <ul data-role="listview" id="sidebar">
            @await Html.PartialAsync("_CustomerLoginPartial")
        </ul>
    </div>
    <div data-role="header">
        <a href="#myPanel" data-role="button" data-icon="bars">
            Menu
        </a>
        <h3>
            Food Order
        </h3>
    </div>
    <div role="main" class="ui-content">
        <ul id="categoryList" data-role="listview">
            @foreach (var category in Model.Categories)
            {
                <li onclick="TESTloadSubcategories(@JsonConvert.SerializeObject(category))">@category.Name</li>
            }
        </ul>
    </div>
</div>

@* Page Two *@

<div data-role="page" id="subcategories">
    <div data-role="panel" id="myPanel">
        <ul data-role="listview" id="sidebar">
            @await Html.PartialAsync("_CustomerLoginPartial")
        </ul>
    </div>
    <div data-role="header">
        <a href="#myPanel" data-role="button" data-icon="bars">
            Menu
        </a>
        <h3>
            Food Order
        </h3>
    </div>
    <div role="main" class="ui-content">
        <ul id="subcategoryList" data-role="listview">
            <li>test</li>
        </ul>
    </div>
</div>

@* Page Three *@

<div data-role="page" id="menuitems">
    <div data-role="panel" id="myPanel">
        <ul data-role="listview" id="sidebar">
            @await Html.PartialAsync("_CustomerLoginPartial")
        </ul>
    </div>
    <div data-role="header">
        <a href="#myPanel" data-role="button" data-icon="bars">
            Menu
        </a>
        <h3>
            Food Order
        </h3>
    </div>
    <div role="main" class="ui-content">
        <ul id="menuitemList" data-role="listview"></ul>
    </div>
</div>

@*<table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Categories)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Subcategories)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MenuItems)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                @foreach (var category in Model.Categories)
                {
                <td>
                    @Html.DisplayFor(modelItem => category.Name)
                </td>
                }
                @foreach (var subcategory in Model.Subcategories)
                {
                <td>
                    @Html.DisplayFor(modelItem => subcategory.Name)
                </td>
                }
                @foreach (var menuitem in Model.MenuItems)
                {
                <td>
                    @Html.DisplayFor(modelItem => menuitem.Name))
                </td>
                }
                <td></td>
            </tr>
        </tbody>
    </table>*@


@section Scripts
{

    <script>
        var loadedData = @Html.Raw(JsonConvert.SerializeObject(Model));
        //menu.append('<li><a onclick="">');
        //loadedData.Categories.forEach(function(category){
        //    menu.append("<li onclick='loadSubcategories(" + category.Id + ")'>" + category.Name + "</li>");
        //});
        $(document).ready(function () {
            @*@foreach (var category in Model.Categories)
            {
                @:var menu = $("#categoryList");
                @:menu.append("<li onclick='TESTloadSubcategories(@JsonConvert.SerializeObject(category))'>@category.Name</li>");
                                                }
            menu.listview("refresh");*@
        });
        //function loadSubcategories(category){
        //    console.log(category.Id);
        //    menu.empty();
        //    for (var i = 0; i < category.Subcategories.length; i++){
        //        var subcategory = category.Subcategories[i];
        //        menu.append("<li>" + subcategory.Name + "</li>");
        //    }
        //    menu.listview("refresh");
        //}
        function TESTloadSubcategories(category){
            console.log(category);
            var list = $("#subcategoryList");
            for (var i = 0; i < category.Subcategories.length; i++){
                var subcategory = category.Subcategories[i];
                list.append("<li onclick='TESTloadMenuitems(" + subcategory + ")>" + subcategory.Name + "</li>");
                console.log("<li onclick='TESTloadMenuitems(" + subcategory + ")>" + subcategory.Name + "</li>");
            }
            $(":mobile-pagecontainer").pagecontainer("change", "#subcategories", {
                transition: 'slide'
            
            });
        }
        //function TESTloadMenuitems(subcategory){
        //    console.log(subcategory);
        //    var list = $("#menuitemList");
        //    for (var i = 0; i < subcategory.MenuItems.length; i++){
        //        var menuitem = subcategory.MenuItems[i];
        //        list.append("<li>" + menuitem.Name + "</li>");
        //    }
        //    $(":mobile-pagecontainer").pagecontainer("change", "#menuitems", {
        //        transition: 'slide'
            
        //    });
        //}
        //$(document).on("pageshow"), function(event){
        //    var ul = $("#sidebar");
        //    ul.listview("refresh");
        //}
    </script>
}
