@model TriCodeTest.Models.MenuViewModels.MenuCreationViewModel

@{ 
    var categoryList = Model.CategoryMenu.ToList();
    var subCategoryList = Model.SubCategoryMenu.ToList();
    var menuItemList = Model.MenuItemMenu.ToList();
    var menuItemIngredientsList = Model.MenuItemIngredientsMenu.ToList();
    var addonList = Model.AddonMenu.ToList();
    var ingredientsList = Model.IngridientMenu.ToList();
    
}

<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <h2>Menu Management</h2>
    <p>Test of menu creation page</p>
    <div style="display:inline-block;width:100%;">
        @*Category Table*@
        <div style="float:left;width:30%;padding-right:10px" class="table-bordered">
            <h3 style="text-align:center">Categories</h3>
            <table id="categories" class="display">
                <thead>
                    <tr>
                        <th>Category</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in categoryList)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.Description</td>
                        </tr>

                    }
                    @*<tr>
                        <td>Drinks</td>
                        <td>(Descrption)</td>
                    </tr>
                    <tr>
                        <td>Lunch</td>
                        <td>(Description)</td>
                    </tr>
                    <tr>
                        <td>Dinner</td>
                        <td>(Description)</td>
                    </tr>*@
                </tbody>
            </table>

            <button id="add-category" class="btn">Add Category</button>
            <button id="remove-category" class="btn">Remove Category</button>
            <button id="edit-category" class="btn">Edit Category</button>
        </div>

        @*Subcategory Table*@
        <div style="float:left;width:30%;padding-right:10px" class="table-bordered">
            <h3 style="text-align:center">Subcategories</h3>
            <table id="subcategory" class="display">
                <thead>
                    <tr>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var item in subCategoryList)
                    {
                        <tr>
                            <td>@item.Name</td>
                        </tr>

                    }
                    @*<tr>
                        <td>Coffee</td>
                    </tr>
                    <tr>
                        <td>Tea</td>
                    </tr>
                    <tr>
                        <td>Soda</td>
                    </tr>
                    <tr>
                        <td>Cold Case</td>
                    </tr>
                    <tr>
                        <td>Specialty</td>
                    </tr>*@
                </tbody>
            </table>

            <button id="add-subcategory" class="btn">Add Subcategory</button>
            <button id="remove-subcategory" class="btn">Remove Subcategory</button>
            <button id="edit-subcategory" class="btn">Edit Subcategory</button>
        </div>

        @*Menu Items Table*@
        <div style="float:left;width:30%;" class="table-bordered">
            <h3 style="text-align:center">Menu Items</h3>
                <table id="menuitem" class="display">
                    <thead>
                        <tr>
                            <th>Item</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var item in menuItemList)
                        {
                            <tr>
                                <td>@item.Name</td>
                                <td>@item.Price</td>
                            </tr>

                        }

                        @*<tr>
                            <td>Coke</td>
                            <td>$1.00</td>
                        </tr>
                        <tr>
                            <td>Sprite</td>
                            <td>$1.00</td>
                        </tr>
                        <tr>
                            <td>Root Beer</td>
                            <td>$1.00</td>
                        </tr>*@
                    </tbody>
                </table>

                <button id="add-menuitem" class="btn">Add Menu Item</button>
                <button id="remove-menuitem" class="btn">Remove Menu Item</button>
                <button id="edit-menuItem" class="btn">Edit Selected Menu Item</button>
        </div>
    </div>
</body>
</html>
@*Load datatables css*@
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.css" />
@*Load datatables js*@
@section Scripts{
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function () {
            //Categories Table Functions, These functions control the functionality and look and feel of the menu data tables
            var categoryTable = $('#categories').DataTable({
                "paging": false,
                "info": false,
                "scrollY": "500px"
            });
            
            

            $('#categories tbody').on('click', 'tr', function () {
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                }
                else {
                    categoryTable.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                }
            });

            //Remove Category Button Listener
            $('#remove-category').click(function () {
                categoryTable.row('.selected').remove().draw(false);
            });

            //Items Table Functions, These functions control the functionality and look and feel of the menu data tables
            var subCategoryTable = $('#subcategory').DataTable({
                "paging": false,
                "info": false,
                "scrollY": "500px"
            });

            $('#subcategory tbody').on('click', 'tr', function () {
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');

                }
                else {
                    subCategoryTable.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');

                }
            });

            //Remove subcategory Button Listener
            $('#remove-subcategory').click(function () {
                subCategoryTable.row('.selected').remove().draw(false);
            });

            //Addons Table Functions, These functions control the functionality and look and feel of the menu data tables
            var menuItemTable = $('#menuitem').DataTable({
                "paging": false,
                "info": false,
                "scrollY": "500px"
            });

            $('#menuitem tbody').on('click', 'tr', function () {
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');

                }
                else {
                    menuItemTable.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');

                }
            });

            //Remove menuitem Button Listener
            $('#remove-menuitem').click(function () {
                menuItemTable.row('.selected').remove().draw(false);
            });

            //Add button listeners
            $('#add-category').click(function () {
                
                //Add row to category
                //DEMO
                alert("@categoryList.First().Name");
                categoryTable.row.add([
                    "@categoryList.First().Name",
                    "@categoryList.First().Description"
                ]).draw(false);
                

            });

        });
    </script>
}