@model TriCodeTest.Models.OrderModels.Order

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>OrderInfo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DateTime)
        </dt>
        <dd>
            @String.Format("{0:g}", Model.DateTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OrderMenuItems)
        </dt>
        <dd>
            @{
                foreach (var item in Model.OrderMenuItems)
                {
                    @String.Format("{0} with ", item.MenuItem.Name);
                    foreach (var addon in item.AddOns)
                    {
                        @String.Format("{0} ", addon.Name);
                    }
                    foreach (var ingredient in item.MenuItem.MenuItemIngredients)
                    {
                        //if (ingredient.Ingredient.Option != Option.Normal)
                        //{
                        //    @String.Format("{0} ", ingredient.Ingredient.Name);
                        //}
                        switch (ingredient.Ingredient.Option)
                        {
                            case Option.Normal:
                                break;
                            case Option.Low:
                                @String.Format("low {0} ", ingredient.Ingredient.Name);
                                break;
                            case Option.None:
                                @String.Format("no {0} ", ingredient.Ingredient.Name);
                                break;
                        }
                    }
                }
            }
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
