@model IEnumerable<TriCodeTest.Models.OrderModels.Order>

@{
    ViewData["Title"] = "Index";
}

<button id="edit" type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
    Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<h2>Index</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Firstname
            </th>
            <th>
                Lastname
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderMenuItems)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.LastName)
            </td>
            <td>
                @String.Format("{0:t}", item.DateTime)
            </td>
            <td>
                @{
                    @String.Format("{0}", item.OrderMenuItems.FirstOrDefault().MenuItem.Name);
                }
                @{
                    //foreach (var food in item.OrderMenuItems)
                    {
                        //@String.Format("{0}", food.MenuItem.Name) <br />
                        //foreach (var addon in food.AddOns)
                        {
                            //@String.Format("{0}", addon.Name)
                        }
                    }
                }
                <!--Html.DisplayFor(modelItem => item.OrderMenuItems)-->
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @String.Format("{0:c}", item.TotalPrice)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "OrderInfo", new { id = item.Id }, new { @class = "lnkEdit" })
                @Html.ActionLink("Details", "Details", "OrderInfo", new { id = item.Id }, new { @class = "lnkDetail" })
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>

<script>
    var modal = document.getElementById('myModal');
    var editBtn = document.getElementById('edit');
    var span = document.getElementsByClassName("close")[0];
</script>
